@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Poppins:wght@300;400;600;700;800&display=swap");

body {
  background-color: whitesmoke;
}

h1 {
  color: black;
  text-align: center;
  font-family: poppins, sans-serif;
}

form {
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

input {
  font-family: poppins, sans-serif;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 13px;
  margin: 5px;
  padding-left: 5px;
}

select {
  font-family: poppins, sans-serif;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 13px;
  margin: 5px;
  padding-left: 5px;
  height: 100%;
  width: 100%;
}

label {
  display: block;
}

input[type="submit"] {
  text-align: center;
  background-color: #000;
  color: #fff;
  border: none;
  grid-column: 4;
  grid-row: 4;
}

.form-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px 10px;
  padding: 10px;
}

input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  border-radius: 13px;
  cursor: pointer;
  grid-column: 4;
  grid-row: 5;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
